.DS_Store


# poetry
poetry.lock

# jupyter
.ipynb_checkpoints


# cache
__pycache__/

# data files
*.gz
*.zip
*.csv

# LaTeX intermediate files
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.blg
*.bbl
